<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>YouVersion</ion-card-subtitle>
    <ion-card-title>
      "{{votd_verse}}"
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    "{{votd_content}}"
    <img src= "{{votd_image_url}}"/>
  </ion-card-content>
</ion-card>

<ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ps William Law </ion-card-subtitle>
      <ion-card-title>
        Jeremiah 29:11
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium nesciunt rerum modi amet esse officia cum reprehenderit fugit ratione suscipit, voluptatibus perferendis ea quisquam quaerat. Praesentium vel atque repellat soluta.
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Ps Chris Lee </ion-card-subtitle>
        <ion-card-title>
          John 3:16
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium nesciunt rerum modi amet esse officia cum reprehenderit fugit ratione suscipit, voluptatibus perferendis ea quisquam quaerat. Praesentium vel atque repellat soluta.
      </ion-card-content>
    </ion-card>
