ion-grid
{
    height: 100%;
    display: flex;
    flex-direction: column;
}

ion-row
{
    height: 75px;
}

.card
{
    border: solid 1px black;

    .card-title
    {
        height: 40px; // HACK should fix this
        .card-title-body
        {
            border-bottom: solid .5px darkgrey;
        }
    }
}

.connect-groups
{
    height: 100%;
    background-color: lightcoral;
}

ion-title {
    font-size: 1em;
}
