ion-grid
{
    height: 100%;
    display: flex;
    flex-direction: column;

    ion-row
    {
        flex: 1 0;
    }
}

.card
{
    border: solid 1px black;

    .card-title
    {
        height: 40px; // HACK should fix this
        .card-title-body
        {
            border-bottom: solid .5px darkgrey;
        }
    }
}

.banner
{
    height: 20%;
    background-color: lightblue;
}

.connect-groups
{
    height: 80%; // HACK: lets try to let this fill the rest of the page
    background-color: lightcoral;
}

ion-title {
    font-size: 1em;
}