<ion-content>
    <div class="banner">
        this is the banner
    </div>
    <!-- <div class="connect-groups">
        <ion-grid>
            <ion-row *ngFor="let group of connectGroups">
                <ion-col size="3">
                    {{ group.name }}
                </ion-col>
                <ion-col>
                    {{ group.description }}
                </ion-col>
            </ion-row>
        </ion-grid>
    </div> -->

    <ion-list class="connect-groups">
        <ion-item *ngFor="let group of connectGroups">
            <ion-grid>
                <ion-row>
                    <ion-col size="3">
                        {{ group.name }}
                    </ion-col>
                    <ion-col>
                        {{ group.description }}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
      </ion-list>


</ion-content>