<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="calendar">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>calendar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="bible">
        <ion-icon name="book"></ion-icon>
        <ion-label>bible</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="help">
          <ion-icon name="help"></ion-icon>
          <ion-label>help</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="settings">
            <ion-icon name="settings"></ion-icon>
            <ion-label>settings</ion-label>
          </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
