<!-- <ion-content no-padding>
    <ion-grid no-padding>
        <ion-row justify-content-center align-items-center>
            <ion-col>

                <ion-row justify-content-center>
                    <ion-col size="6">
                        <ion-img src="https://via.placeholder.com/500"></ion-img>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content> -->

<ion-content>

    <ion-grid class="logo-wrapper">
        <ion-row justify-content-center>
            <ion-col size="6">
                <ion-img src="https://via.placeholder.com/500"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-slides class="landing-info" autoplay="4000" pager [options]="sliderOpts">
        <ion-slide *ngFor="let slide of slides">
            <h1>{{ slide.heading }}</h1>
            <p *ngIf="slide.subtitle">{{ slide.subtitle }}</p>
        </ion-slide>
    </ion-slides>

</ion-content>

<ion-footer>
    <ion-grid no-padding>
        <ion-row justify-content-center>
            <ion-col no-padding>
                <ion-button mode="ios" color="success" expand="full" no-margin (click)="login()">Login</ion-button>
            </ion-col>
            <ion-col no-padding>
                <ion-button mode="ios" color="danger" expand="full" no-margin>Register</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>