<ion-content>

    <!-- TODO: at this point, not sure if its even worth it since its buggy to use, it takes ages to buffer, not sure why, maybe the bitrate and quality -->
    <video class="background-video" autoplay muted loop volume="0" (loadstart)="onPromoVideoLoadStart($event)"
        (progress)="onProgress($event)" (error)="onError($event)">
        <source src="/assets/promo.mp4" type="video/mp4">

        <p>Your phone does not support HTML5 video! (sadface)</p>
    </video>

    <div class="background-wrapper">
        <ion-router-outlet></ion-router-outlet>
        <!-- <app-landing></app-landing> -->
    </div>

</ion-content>

<ion-footer>
    <ion-grid no-padding>
        <ion-row justify-content-center>
            <ion-col no-padding>
                <ion-button mode="ios" color="success" expand="full" no-margin (click)="login()">Login</ion-button>
            </ion-col>
            <ion-col no-padding>
                <ion-button href="/login/registration" mode="ios" color="danger" expand="full" no-margin>Register</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>