<!-- <ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content no-padding>
    <ion-grid>
        <ion-row justify-content-center align-items-center>
            <ion-col>

                <ion-row justify-content-center>
                    <ion-col size="6">
                        <ion-img src="https://via.placeholder.com/500"></ion-img>
                    </ion-col>
                </ion-row>
                <ion-row justify-content-center text-center>
                    <ion-col size="10">
                        <ion-button color="primary" expand="full" (click)="login()">Login</ion-button>
                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>