<ion-content>
    test commit
    <ion-grid class="ion-no-padding">
        <ion-row class="message-container" *ngFor="let message of messages">
            <ion-col>
                <ion-grid class="card">
                    <ion-row class="message-title-container">
                        <ion-col class="card-title">
                            {{message.speakerName}} - {{message.title}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <p class="ion-no-margin">
                                {{message.content}}
                            </p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>