<ion-grid class="ion-no-padding">
    <ion-row>
        <ion-col>
            <ion-grid class="card">
                <ion-row class="card-title">
                    <ion-col class="card-title-body">
                        title
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <p class="ion-no-margin">
                            test123
                        </p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-grid class="card">
                <ion-row>
                    <ion-col class="card-title">
                        title
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <p class="ion-no-margin">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores culpa dignissimos eaque
                            dolor expedita, cumque architecto ex obcaecati omnis quae delectus consequatur. Laborum
                            officiis voluptas eaque neque voluptatibus nihil perferendis!
                        </p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
    </ion-row>
</ion-grid>
