ion-grid
{
    background-color: pink;
    height: 100%;

    ion-row
    {
        height: 50%;

        ion-col
        {
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            // justify-content: center;

            div
            {
                color: white;
            }
        }
    }
}
