ion-grid
{
    height: 100%;

    ion-row
    {
        height: 50%;

        ion-col
        {
            display: flex;
            flex-direction: column;
            // justify-content: center;
        }
    }
}

.modal
{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .modal-body
    {
        color: white;
    }
}

.has-background-image
{
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-messages
{
    background-image: url('/assets/img/home/bg-msgs.JPG')
}

.bg-daily-devotions
{
    background-image: url('/assets/img/home/bg-daily-devotions.JPG');
}

.bg-events
{
    background-image: url('/assets/img/home/bg-events.JPG');
}

.bg-connect
{
    background-image: url('/assets/img/home/bg-connect.JPG');
}

ion-title {
    font-size: 1em;
}