<ion-header></ion-header>

<ion-content>
    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col class="ion-justify-content-center">
                <div class="ion-text-center ion-text-capitalize" (click)="goToMessages()">
                    Messages
                </div>
            </ion-col>
            <ion-col class="ion-justify-content-center">
                <div class="ion-text-center ion-text-capitalize">
                    Daily Devotions
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-justify-content-center">
                <div class="ion-text-center ion-text-capitalize">
                    Events
                </div>
            </ion-col>
            <ion-col class="ion-justify-content-center">
                <div class="ion-text-center ion-text-capitalize">
                    Connect
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>