<ion-header></ion-header>

<ion-content>
    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col class="bg-messages has-background-image ion-justify-content-center ion-no-padding">
                <div class="modal ion-text-center" (click)="goToMessages()">
                    <span class="modal-body ion-text-uppercase">
                        Messages
                    </span>
                </div>
            </ion-col>
            <ion-col class="bg-daily-devotions has-background-image ion-justify-content-center ion-no-padding">
                <div class="modal ion-text-center">
                    <span class="modal-body">
                        Daily Devotions
                    </span>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="bg-events has-background-image ion-justify-content-center ion-no-padding">
                <div class="modal ion-text-center">
                    <span class="modal-body">
                        Events
                    </span>
                </div>
            </ion-col>
            <ion-col class="bg-connect has-background-image ion-justify-content-center ion-no-padding">
                <div class="modal ion-text-center">
                    <span class="modal-body">
                        Connect
                    </span>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>