.logo-grid {
    margin-top: 5rem;
}

ion-slides {

    &.landing-info {
        color: white;
    }

    position: absolute;
    width: 100%;
    height: 10rem;
    bottom: 0rem;
    margin-bottom: 2rem;

    ion-slide {
        flex-direction: column;
        padding-bottom: 2rem;
    }
}