<ion-header>
    <ion-toolbar>
        <ion-title>bible</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                title
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <span class="subtitle">
                                    Summary of message
                                </span>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores culpa dignissimos
                                    eaque
                                    dolor expedita, cumque architecto ex obcaecati omnis quae delectus consequatur.
                                    Laborum
                                    officiis voluptas eaque neque voluptatibus nihil perferendis!
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                title
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores culpa dignissimos eaque
                                dolor expedita, cumque architecto ex obcaecati omnis quae delectus consequatur. Laborum
                                officiis voluptas eaque neque voluptatibus nihil perferendis!
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>